/* Artfully masterminded by ZURB  */
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: index.html
:: contact.html
:: services.html
:: spring.html
:: summer.html
:: fall.html
:: winter.html
:: fertilization.html
:: pruning.html
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#page {
	padding-top:10px;
	background-image: -webkit-linear-gradient(rgba(23,100,42,0.53) 0%, rgba(255,255,255,0.73) 160px);
	
}

h4 {
	font-family:'Exo',sans-serif;
	color:#006b1d;
	font-size:28px;
}

h3 {
	font-family:'Exo',sans-serif;
	color:#EB9125;
}

h2 {
	font-family:'Exo',sans-serif;
	color:#a1b2c6;
	text-align: center;
	vertical-align: text-top;
	margin-top: 50px;
}

a {
	color:#a1b2c6;
	font-family:'Exo',sans-serif;
	font-size:20px;
}

p {
	font-family:'Ubuntu',sans-serif;
}

#contact-us-link {
	color:#EB9125;
	font-family:'Exo',sans-serif;
	font-size:32px;
	font-weight:700;
	float:right;
	padding-right:75px;
	padding-bottom: 10px;
	
	z-index: -1;

}

#logo {
	z-index: 1;
	margin-bottom: -105px;
	
}

#skyline-divider {
	z-index: 9999;
	
}

#nav {
	margin-bottom:25px;
}

#bottom-quote {
	text-align:center;
	margin-top:50px;
}

.orbit-wrapper { width: auto; height: auto; position: relative; }

#nav-home {
	padding-right: 30px;
}

#nav-contact {
	padding-right: 30px;
}

#nav-service {
	padding-right: 30px;
}

#fb-like {
	padding-right: 30px;
	vertical-align: -7px;
}


/* -----------------------------------------
   index.html
----------------------------------------- */
#label {
	font-family:'Exo',sans-serif;
	color:#006b1d;
	width:500px;
	font-size:28px;
	font-weight:700;
}

#bottom {
	text-align:center;
	margin-top:50px;
}

/* -----------------------------------------
   contact.html
----------------------------------------- */
#main-info {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 60px;
}

#email-link-contact {
	font-family:'Ubuntu',sans-serif;
	font-size: 18px;
	color: black;

}

p {
	font-family:'Ubuntu',sans-serif;
	font-size: 18px;
}

h3 {
	font-size: 32px;
}


#contactform {
	margin-top:-40px;
	font-family:'Ubuntu',sans-serif;
	color:#000;
}

#services {
	list-style-type: none;
}

/* -----------------------------------------
   services.html
----------------------------------------- */


#row1 {
	margin-top: 0px;
	
}

#row2 {
	margin-top: 40px;

}


#row3 {
	margin-top: 40px;
	
}

#call-email {
	margin-top:75px;
	text-align:center;
}


#image-label {
	vertical-align: 175%;
	margin-left: 10px;
}




/* -----------------------------------------
   spring.html
----------------------------------------- */
h4 {
	text-align: center;
}

#info ul li {
	font-size: 18px;
	font-family:'Ubuntu',sans-serif;
	
}

#email-link {
	font-family:'Exo',sans-serif;
	color:#EB9125;
	font-size: 32px;
}


/* -----------------------------------------
   summer.html
----------------------------------------- */
h4 {
	text-align: center;
}

#info ul li {
	font-size: 18px;
	font-family:'Ubuntu',sans-serif;
	
}

#image {
	text-align: center;
}

#email-link {
	font-family:'Exo',sans-serif;
	color:#EB9125;
	font-size: 32px;
}


/* -----------------------------------------
   fall.html
----------------------------------------- */
h4 {
	text-align: center;
}

#info ul li {
	font-size: 18px;
	font-family:'Ubuntu',sans-serif;
	
}
#image {
	text-align: center;
}

#email-link {
	font-family:'Exo',sans-serif;
	color:#EB9125;
	font-size: 32px;
}


/* -----------------------------------------
   winter.html
----------------------------------------- */
h4 {
	text-align: center;
}

#info ul li {
	font-size: 18px;
	font-family:'Ubuntu',sans-serif;
	
}

#image {
	text-align: center;
}

#email-link {
	font-family:'Exo',sans-serif;
	color:#EB9125;
	font-size: 32px;
}


/* -----------------------------------------
   fertilization.html
----------------------------------------- */
h4 {
	text-align: center;
}

#info ul li {
	font-size: 18px;
	font-family:'Ubuntu',sans-serif;
	
}

#image {
	text-align: center;
}

#email-link {
	font-family:'Exo',sans-serif;
	color:#EB9125;
	font-size: 32px;
}


/* -----------------------------------------
   pruning.html
----------------------------------------- */
h4 {
	text-align: center;
}

ul {
	font-size: 18px;
	font-family:'Ubuntu',sans-serif;

}

#email-link {
	font-family:'Exo',sans-serif;
	color:#EB9125;
	font-size: 32px;
}

#image {
	text-align: center;
}





